<!DOCTYPE html>
<html>
	<head>
		<link rel="import" href="template.html">
		<meta charset="utf-8" />
		<title>Smart Parking</title>
	</head>
		<body>
			<div id="app">
				<button-counter></button-counter>
				<button-counter></button-counter>
				<alert-box>
				<div class="alert alert-primary" role="alert">A simple primary
					alertcheck it out!</div>
				</alert-box>
				qweqweqwewq
				{{ info }}
			</div>
		
	
	</body>
</html>