<link rel="stylesheet" href="css/index.css">

<script src="vue/2.6/vue.min.js"></script>
<script src="axios/0.18.0/axios.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Fonts -->
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />
<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">


<!-- Bootstrap CSS -->
<link rel="stylesheet" 	href="bootstrap/v4/css/bootstrap.css">

<script src="jquery/3.3/jquery-3.3.1.min.js"></script>
<script	src="bootstrap/v4/js/bootstrap.js"></script>
<script src="js/index.js"></script>
