html {
	height: 100vh;
}

body {
    height: 100vh;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: rgb(169,169,169);
    background-color: rgba(255, 255, 255, 0.8);
}

/* H1 - H6 font */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
 	font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 255, 0.4);
}

.login-text {
	font-family: 'Comfortaa', cursive !important;
    color: rgba(0, 0, 255, 0.5) !important;
	padding-top: 20px;
	padding-bottom: 20px;
}

.login-box {
	background-color: rgba(255, 255, 255, 0.8);
	width: 33vw;
	height: 66vh;
	border-radius: 15px;
}

.login-box-body {
	width: 100%;
}

.login-box-head {
	width: 100%;
	text-align: center;
}

.background-login{
	width: 100%;
	height: 100%;
	background-image: url(../image/background.jpg);
	box-shadow: 0 0 0 1000px rgba(0, 0, 255, 0.4) inset;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center
}
